@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Listado de Mascotas</h1>
<table class="table">
    @foreach (var mascota in Model.ListaMascotas)
    {
        <tr>
            
            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Especie</td>
            
            <td>
                <a class = "btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                Detalle Mascota
                </a>
            </td>
            <td>
                <a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                Editar Mascota
                </a>
            </td>
            
        </tr>
    }
    <a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascotas</a>
</table>